body {
}


.imgParqueAtrac {
    width: 100%;
    min-height: 240px;
    max-height: 240px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 6px;
    border: 1px solid #ddd;
}

th {
    background-color: #cccbcb;
    text-align: left;
}